body {
	padding: 0;
	margin: 0;
}

header, .header {
	height: 50px;
	background-color: black;
	color: white;
}

main, .main {
	width: 900px;
	margin: 0 auto;
}

form {
	margin: 0 auto;
	background-color: grey;
}

[name="background"] {
	color:transparent;
	width: 50px;
	height: 50px;
}

[name="font"]  {
	width: 100px;
	height: 25px;
}

option {
	color: initial;
	background-color: white;
	font-family: "Times New Roman";
}

.background1 {
	background-color:white;
	background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
	linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
	background-size:10px 10px;
}

.background2 {
	background-color:silver;
	background-image:
	radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
}

.background3 {
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.font1 {
	font-family: "Comic Sans MS";
}

.font2 {
	font-family: "Helvetica";
}

.font3 {
	font-family: "Impact";
}

.fullscreen{
	border: none;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-color: #f0f;
}

.preview{
	border: none;
	width: 100%;
	background-color: #f00;
}
